// Place all the styles related to the basic_work_experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
  width: 70vw;
  height: 100vh;
  overflow: auto;
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

.work-exp-wrapper-table {
  width: 1200px;
  margin: 0 auto;
  font-family: "メイリオ" ;
  font-size: 14px;
}

.work-exp-table table{
  table-layout: fixed;
  width: 100%;
  margin-bottom: 5px;
}

.work-exp-table table, .work-exp-table th, .work-exp-table td {
  border: 1px solid gray;
}

.work-exp-table th {
  background-color: #CEFFFF;
  text-align: center;
  font-weight: normal;
}

.width01{
  width: 2%
}

.width05 {
  width: 10%;
}

.width08 {
  width: 8%;
}

.width10 {
  width: 12%;
}

.width20 {
  width: 20%;
}

.width65 {
  width: 58%;
}

.width48 {
  width: 48%;
}

.height200 {
  height: 200px;
}

// 編集画面
.middle-form {
 width: 700px;
}