.title-message-container {
  background-color: white;
  height: auto;
  padding: 30px;
}

.message-container {
    display: block;
    background-color: #FCE3E3;
    color: #BA2020;
    border: 2px solid #BA2020;
    margin: 0 auto;
    width: 860px;
    padding-top: 15px;
}

.message-container li {
  margin-bottom: 5px;
}

.form-wrapper {
  background-color: white;
  height: 2800px;
  width: auto;
}

.middle-content {
  width: 100px;
  height: 300px;
}